body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.header {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 auto;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitle {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.plain-text {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-body {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: fit-content;
}

.section {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-section {
    width: 50%;
    min-height: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.generic-button {
    all: unset;
    min-width: 175px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.input-button {
    all: unset;
    min-width: 175px;
    margin: 10px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 20px;
}

input[type="text"] {
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}