* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 32px;
}

.subtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px
}