* {
    box-sizing: border-box;
}

body {
    margin: 3rem;
    font-family: system-ui, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #78C2FF;
    box-shadow: 0 0.3rem #818181;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.card-header{
    gap: 0rem;
}

.card-footer{
    flex-direction: row;
    justify-content: center;
    padding: 0.75rem 1rem;
}

.card-participants {
    box-shadow: none;
    padding: 0;
}

.card-button {
    all: unset;
    padding: 0.3rem 0.6rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 0.3rem #818181;
}

.card-button-footer {
    flex: 0 1 32%;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
}

.plain-text {
    font-size: 0.75rem;
}

.card-button:active {
    transform: translateY(2px);
}

/* Pendiente de ajuste */
input[type="text"] {
    min-width: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}